.main {
  .main__wrap {
    justify-content: space-around;
    padding: 42px 0;
    display: flex;
  }

  .bodyLogo {
    height: 376px;
    align-self: center;
    margin-left: 60px;
  }
}

@media (max-width:550px) {
  .bodyLogo {
    display: none;
  }

}

@media (max-width:800px) {
  .bodyLogo {
    margin-left: 0;
  }
}