$shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.363);
$SecondShadow: 0 0 3px 1px #33333366;
$radius: 3px;

@font-face {
  font-family: roboto;
  src: url(../../fonts/Roboto-Thin.ttf);
}

.auth__form__textfield,
.auth__form__submit {
  border-radius: $radius;
  outline: none;
}

.auth__form_link {
  text-decoration: none;
  color: #222222;

  &:hover {
    text-shadow: 0 0 3px grey;
  }
}

.auth__form__submit,
.auth__form_link {
  font-size: 18px;
}

.auth__form__submit {
  padding: 10px;
  border: 0;
  cursor: pointer;

  &:hover {
    box-shadow: $SecondShadow;
  }

  &:disabled {
    &:hover {
      box-shadow: none;
      cursor: not-allowed;
    }
  }
}

.auth__form {
  width: 400px;
  min-width: 320px;
  height: 453px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  >* {
    flex: 100%;
  }
}

.auth__form__wrong {
  color: red;
  font-weight: 700;
  font-size: 14px;
  min-width: calc(100% + 60px);
  margin: 0 0 -2px -30px;

  svg {
    margin-bottom: -4px;
  }
}

.wrongtextfield {
  box-shadow: 0 0 2px 1px rgba(255, 0, 0, 0.55);
  background-color: rgba(221, 13, 13, 0.05);
}

.auth__form__paragraph {
  font-size: 36px;
}

.auth__form__bodyForm {
  top: 112px;
  max-width: 320px;
  margin-left: 40px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;

  >* {
    flex: 100%;
  }

  :nth-child(2) {
    position: relative;
  }
}

.auth__form_showPassword {
  bottom: 7px;
  left: calc(100% - 30px);
  flex: 30px;
  position: absolute;
}

.auth__form__textfield {
  flex: calc(100% - 30px);
  line-height: 1.9;
  font-size: inherit;
  border-color: #22222238;

  &::placeholder {
    color: #22222a80;
  }
}

.auth__form_loginandpassword {
  padding: 10px 0 5px 0;
  text-align: left;
  font-weight: 800;
  display: flex;
  flex-wrap: wrap;

  span {
    flex: 100%;
  }
}

.auth__form__botomblok {
  bottom: 25px;
  max-width: 50%;
  right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
}

.auth__form__submit {
  margin-bottom: 5px;
  position: relative;
}