$shadow: 0 5px 7px 0px rgba(0, 0, 0, 0.363);
$SecondShadow: 0 0 3px 1px #33333366;
$radius: 3px;

@font-face {
  font-family: roboto;
  src: url(../src/fonts/Roboto-Thin.ttf);
}

input,
button {
  border-radius: $radius;
  outline: none;
}

a {
  text-decoration: none;
  color: #222222;

  &:hover {
    text-shadow: 0 0 3px grey;
  }
}

button,
a {
  font-size: 18px;
}

button {
  padding: 10px;
  border: 0;
  cursor: pointer;
  min-width: 100px;

  &:hover {
    box-shadow: $SecondShadow;
  }

  &:disabled {
    &:hover {
      box-shadow: none;
      cursor: not-allowed;
    }
  }
}

#App {
  text-align: center;
  max-width: 989px;
  min-width: 410px;
  background: #C5E9FF;
  margin: 0 auto;
  overflow-x: clip;
  font-family: roboto;
}

.wrong {
  color: red;
  font-weight: 700;
  font-size: 14px;
  min-width: calc(100% + 60px);
  margin: 0 0 -2px -30px;

  svg {
    margin-bottom: -4px;
  }
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: $shadow;
  height: 117px;

  h2 {
    font-size: 32px;
    letter-spacing: 1px;
  }

  svg {
    height: 90px;
    width: 98px;
    margin: 0 80px 0 30px;
    overflow-x: overlay;
  }
}

.pfzinz {
  font-size: 36px;
}

#bdfrm {
  top: 112px;
  max-width: 81%;
  margin-left: 40px;
  font-size: 18px;

  >* {
    flex: 100%;
  }

  span {
    padding: 10px 0 5px 0;
    text-align: left;
    font-weight: 800;
  }

  input {
    line-height: 1.9;
    font-size: inherit;
    border-color: #22222238;

    &::placeholder {
      color: #22222a80;
    }
  }
}

form {
  width: 400px;
  min-width: 320px;
  height: 453px;
  background-color: #fff;

  >* {
    flex: 100%;
  }
}

#wrap {
  justify-content: space-around;
  padding: 42px 0;
}



.posA {
  position: absolute;
}

.posR {
  position: relative;
}

.flex {
  display: flex;
}

.WrapWrap {
  flex-wrap: wrap;
}

#showPassword {
  bottom: 3px;
  right: 5px;
}

.botBlck {
  bottom: 25px;
  max-width: 50%;
  right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    margin-bottom: 5px;
  }
}

@media (max-width:550px) {
  div header {
    h2 {
      font-size: 28px;
      letter-spacing: 0;
    }

    svg {
      transform: scale(.7);
    }
  }

  #secLogo {
    display: none;
  }

}

@media (max-width:800px) {
  header {
    h2 {
      font-size: 30px;
    }

    svg {
      margin: 0;
      transform: scale(.85);
    }
  }

  #secLogo {
    margin-left: 0;
  }
}